@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;600&display=swap");
@font-face {
  font-family: "Neuemontreal";
  src: url(../font/NeueMontreal-Regular.otf) format("opentype");
  font-weight: 400;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 12px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select,
table,
button,
code {
  font: inherit;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*
    @세팅구역
*/
body {
  position: relative;
  font-family: "Neuemontreal", sans-serif;
  line-height: 20px;
  letter-spacing: 0.03vw;
  color: #1d1d1d;
  background: #f8f8f8;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.cursor {
  position: fixed;
  top: -0.5rem;
  left: -1.25rem;
  width: 13px;
  height: 13px;
  border: 1px #1d1d1d;
  border-radius: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.01);
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  transform: none;
  transition: width 0.3s, height 0.3s;
  pointer-events: none;
  z-index: 100;
}
.cursor .cursor-transform {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  white-space: nowrap;
}
.cursor .cursor-transform.hide {
  display: none;
}
.cursor.cursor-work {
  top: -72px;
  left: -72px;
  width: 144px;
  height: 144px;
  background: #f8f8f8;
}
.cursor.cursor-talk {
  top: -72px;
  left: -72px;
  width: 144px;
  height: 144px;
  background-color: hsla(0deg, 0%, 100%, 0.01);
}
.cursor.hide {
  display: none;
}

.large-inner {
  width: 100%;
  padding: 0 3.167rem;
}

.small-inner {
  width: 100%;
  padding: 0 5.333rem;
}

.clear {
  clear: both;
  overflow: hidden;
}

section {
  position: relative;
  padding: 5.333rem 0;
}

.btn {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  font-family: "Khand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.06vw;
  line-height: 1;
  color: #f4f4f4;
  overflow: hidden;
}
.btn .btn-wrap {
  position: relative;
  padding: 0.833rem 2.667rem;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  z-index: 1;
}
.btn .btn-wrap .text-box {
  height: 11px;
  text-transform: uppercase;
  overflow: hidden;
}
.btn .btn-wrap .text-box .text {
  display: inline-block;
  height: 100%;
  transition: 0.4s ease-in-out;
}
.btn .btn-wrap .text-box .text::after {
  display: block;
  margin-top: 13px;
  color: #1d1d1d;
}
.btn .btn-wrap .text-box .arrow {
  display: inline-block;
  width: 9px;
  height: 11px;
  margin-left: 10px;
  background: url("../images/arrow_white.svg") no-repeat;
  transform: translateY(-200%);
  transition: 0.4s ease-in-out;
}
.btn .btn-wrap .text-box .arrow::after {
  content: "";
  display: block;
  width: 9px;
  height: 11px;
  margin-top: -1.833rem;
  background: url("../images/arrow_white.svg") no-repeat;
  filter: invert(100%);
}
.btn .btn-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 15px;
  background-color: #f8f8f8;
  transition: 0.4s ease-in-out;
}
.btn.hover .btn-wrap .text {
  transform: translateY(-220%);
}
.btn.hover .btn-wrap .arrow {
  transform: translateY(0);
}
.btn.hover .btn-bg {
  width: 100%;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(29, 29, 29, 0.5019607843);
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 3.167rem;
  width: 100%;
  color: #f4f4f4;
  z-index: 1;
}
.header .large-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .large-inner .logo a {
  display: inline-block;
}
.header .large-inner .logo img {
  height: 13px;
}
.header .large-inner .smalltext-box {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.header .large-inner .small-text {
  font-size: 0.688rem;
  line-height: 1.2;
  white-space: pre-line;
}
.header .large-inner .text::after {
  content: "Let's talk";
}

@media all and (max-width: 960px) {
  .header .large-inner {
    align-items: flex-start;
  }
  .header .large-inner .smalltext-box {
    display: inline-block;
    width: auto;
  }
  .header .large-inner .smalltext-box .small-text {
    display: block;
    margin-bottom: 20px;
  }
}
.footer {
  position: absolute;
  bottom: 38px;
  width: 100%;
  text-transform: uppercase;
  color: #f4f4f4;
}
.footer .large-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .large-inner span {
  display: block;
  font-size: 0.833rem;
  line-height: 1;
}
.footer .large-inner .link-footer + .link-footer {
  margin-left: 16px;
}
.footer .large-inner .btn-top {
  text-transform: uppercase;
  color: #f4f4f4;
}
.footer .large-inner .mobile-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .reverse {
  display: flex;
  gap: 100px;
}

@media all and (max-width: 960px) {
  .footer .large-inner {
    display: block;
    text-align: center;
  }
  .footer .large-inner .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer .large-inner .content-box span {
    width: 45%;
    text-align: right;
  }
  .footer .large-inner .content-box a {
    text-align: left;
  }
  .footer .large-inner .content-box.social-box {
    display: flex;
    flex-direction: column;
    bottom: -30vw;
    margin-top: 84px;
  }
  .footer .large-inner .content-box.social-box span {
    width: 100%;
    text-align: center;
  }
  .footer .large-inner .btn-top {
    display: none;
  }
  .footer .reverse {
    display: flex;
    gap: 0;
    flex-direction: column-reverse;
  }
}
.sc-intro {
  position: relative;
  height: 100vh;
  padding: 3.167rem 0 2.167rem;
  color: #f4f4f4;
  background: #1d1d1d;
}
.sc-intro .large-inner {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  height: 100%;
}
.sc-intro .intro-main {
  width: 43%;
}
.sc-intro .intro-main h2 {
  font-family: "Khand", sans-serif;
  max-width: 307px;
  margin-bottom: 15px;
  font-size: 3rem;
  line-height: 0.95;
}
.sc-intro .intro-main h3 {
  max-width: 300px;
  font-family: "Neuemontreal", sans-serif;
  margin-bottom: 40px;
  font-size: 1.25rem;
  line-height: 1.2;
}
.sc-intro .intro-main .btn .text::after {
  content: "Scroll to discover";
}
.sc-intro .intro-sub {
  position: absolute;
  bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 38px;
}
.sc-intro .link-page {
  line-height: 1.1;
}
.sc-intro .link-page + .link-page {
  margin-left: 25px;
}
.sc-intro .coords {
  position: absolute;
  top: 50%;
  left: 57%;
  line-height: 1.15;
  transform: translateY(-50%);
}

.sc-about .large-inner {
  position: relative;
}
.sc-about .text-wrap {
  width: 70%;
}
.sc-about .about-text {
  display: flex;
  justify-content: space-between;
  margin-right: 75px;
  padding-bottom: 90px;
}
.sc-about .about-text p {
  flex: 0.64;
  max-width: 486px;
  font-size: 31px;
  line-height: 1.1;
}
.sc-about .about-small-text {
  display: flex;
  justify-content: space-between;
}
.sc-about .about-small-text .text-wrap {
  width: 237px;
}
.sc-about .about-small-text .text-wrap h3 {
  font-size: 17px;
  margin-bottom: 24px;
}
.sc-about .about-small-text .text-wrap p {
  line-height: 1.2;
}
.sc-about .selfie {
  position: absolute;
  top: 0;
  right: 50px;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  overflow: hidden;
}
.sc-about .selfie img {
  display: block;
  width: 100%;
  transform: translateY(-9%);
}
.sc-about .btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 39px;
  color: #1d1d1d;
  text-align: center;
}
.sc-about .btn .btn-wrap {
  border: 1px solid #1d1d1d;
}
.sc-about .btn .btn-wrap .text::after {
  content: "explore my work";
  color: #f4f4f4;
}
.sc-about .btn .btn-wrap .arrow {
  filter: invert(100%);
}
.sc-about .btn .btn-bg {
  background-color: #1d1d1d;
}

.sc-work .work-area {
  display: flex;
  height: 100vh;
}
.sc-work .work-item {
  position: relative;
  display: block;
  width: 100%;
  min-width: 92%;
  height: 100%;
  margin-left: 13px;
  background: no-repeat center/cover;
  color: #f8f8f8;
}
.sc-work .work-item.NS {
  background-image: url(../images/work_NS.jpg);
}
.sc-work .work-item.TK {
  background-image: url(../images/work_TK.jpg);
}
.sc-work .work-item.BaO {
  background-image: url(../images/work_BaO.jpg);
}
.sc-work .work-item.BE {
  background-image: url(../images/work_BE.jpg);
}
.sc-work .work-item.AMS {
  background-image: url(../images/work_AMS.jpg);
}
.sc-work .dimmed {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.94), transparent);
}
.sc-work .large-inner {
  position: absolute;
  bottom: 15px;
  z-index: 1;
}
.sc-work .work-title {
  margin: 13px 0 48px;
  font-size: 3.5rem;
  line-height: 1;
}
.sc-work .detail-area {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.sc-work .text-box {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.sc-work .text-box .detail-title {
  margin-bottom: 24px;
}
.sc-work .text-box span {
  display: block;
  max-width: 128px;
  line-height: 1.3;
}
.sc-work .text-box + .text-box {
  padding-left: 80px;
}
.sc-work .design-area {
  display: inline-block;
  font-family: "Khand", sans-serif;
  font-weight: 600;
}
.sc-work .round {
  display: inline-block;
  padding: 8px 33px;
  border: 1px solid #f8f8f8;
  border-radius: 25px;
}
.sc-work .round + .round {
  margin-left: 13px;
}
.sc-work .mobile-image {
  display: none;
  width: 100%;
  padding-top: 12px;
}
.sc-work .mobile-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.sc-playing {
  text-align: center;
  padding-bottom: 64px;
}
.sc-playing h2 {
  margin-bottom: 16px;
  font-family: "Khand", sans-serif;
  font-size: 44px;
  line-height: 1;
}
.sc-playing .desc {
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.3;
}
.sc-playing .small-inner {
  text-align: start;
}
.sc-playing .playing-area {
  margin-top: 96px;
  border-left: 0;
  border-right: 0;
}
.sc-playing .playing-area.pc-ver {
  display: block;
}
.sc-playing .playing-area.pc-ver .playing-item {
  position: relative;
}
.sc-playing .playing-area.pc-ver .playing-item h3 {
  padding: 15px 0;
  transition: 0.3s ease-out;
}
.sc-playing .playing-area.pc-ver .playing-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.sc-playing .playing-area.pc-ver .playing-item:hover h3 {
  opacity: 0.6;
  transform: translateX(16px);
}
.sc-playing .playing-area.pc-ver .playing-item:hover img {
  opacity: 1;
}
.sc-playing .playing-area.mobile-ver {
  display: none;
}
.sc-playing .playing-area.mobile-ver .playing-item {
  height: 48px;
  overflow: hidden;
}
.sc-playing .playing-area.mobile-ver .mobile-inner {
  position: relative;
  padding: 14px 0;
}
.sc-playing .playing-area.mobile-ver img {
  width: 100%;
}
.sc-playing .playing-area.mobile-ver .btn-playing-item {
  position: absolute;
  top: 16px;
  right: 0;
  width: 16px;
  height: 16px;
}
.sc-playing .playing-area.mobile-ver .vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.75px;
  height: 16px;
  background: #1d1d1d;
}
.sc-playing .playing-area.mobile-ver .horizon-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 0.75px;
  background: #1d1d1d;
}

.sc-pr {
  padding-bottom: 32px;
  background-color: #f8f8f8;
  z-index: 2;
}
.sc-pr .clients-area {
  padding-bottom: 51px;
  border-bottom: 1px solid rgba(29, 29, 29, 0.5019607843);
}
.sc-pr .img-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 64px;
  overflow: hidden;
  box-sizing: content-box;
}
.sc-pr .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-pr .img-wrap .img-cover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #f8f8f8;
}
.sc-pr .text-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sc-pr .text-area h2 {
  max-width: 486px;
  font-size: 34px;
  line-height: 1.1;
}
.sc-pr .text-area p {
  max-width: 478px;
  font-size: 22px;
  line-height: 1.2;
}
.sc-pr .clients-wrap {
  float: right;
  max-width: 478px;
}
.sc-pr .clients-wrap h3 {
  margin-bottom: 30px;
  font-family: "Khand", sans-serif;
  font-size: 1.667rem;
  line-height: 1.4;
  text-decoration: underline;
}
.sc-pr .clients-wrap .clients-item {
  display: flex;
  flex-wrap: wrap;
}
.sc-pr .clients-wrap .clients-item .clients-title {
  flex: 1 1 33%;
  margin-bottom: 26px;
  font-size: 1.333rem;
}
.sc-pr .clients-wrap .clients-item .clients-title:nth-child(n+7) {
  margin: 0;
}
.sc-pr .pr-detail {
  display: flex;
  padding: 51px 0;
}
.sc-pr .pr-detail .left-box {
  width: 30%;
}
.sc-pr .pr-detail .left-box .round {
  display: inline-block;
  padding: 3px 11px 2px;
  border: 0.7px solid #1d1d1d;
  border-radius: 12px;
  font-family: "Khand", sans-serif;
}
.sc-pr .pr-detail .right-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 50px;
}
.sc-pr .pr-detail .right-box [class^=row] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 38px;
}
.sc-pr .pr-detail .right-box [class^=row]:last-child {
  margin: 0;
}
.sc-pr .pr-detail.approach-area .content-box {
  width: 30%;
}
.sc-pr .pr-detail.approach-area .content-box em {
  display: block;
  font-size: 1.333rem;
  margin-bottom: 16px;
}
.sc-pr .pr-detail.approach-area .content-box p {
  line-height: 1.2;
  letter-spacing: 0.02vw;
}
.sc-pr .pr-detail.experience-area .right-box {
  flex-direction: column;
}
.sc-pr .pr-detail.experience-area .right-box .content-box {
  width: 30%;
}
.sc-pr .pr-detail.experience-area .right-box em {
  display: block;
  font-size: 1.167rem;
  margin-bottom: 16px;
  line-height: 1;
}
.sc-pr .pr-detail.experience-area .right-box p {
  font-size: 1.333rem;
  line-height: 1.4;
  margin-bottom: 6px;
}
.sc-pr .pr-detail.experience-area .right-box p:last-child {
  margin: 0;
}
.sc-pr .pr-detail.awards-area {
  padding-bottom: 0;
}
.sc-pr .pr-detail.awards-area .right-box {
  flex-direction: column;
}
.sc-pr .pr-detail.awards-area .right-box .content-box {
  width: 30%;
  white-space: nowrap;
}
.sc-pr .pr-detail.awards-area .right-box .content-box p {
  font-size: 1.333rem;
}
.sc-pr .not-awards-mobile {
  flex: 1;
  display: block;
}
.sc-pr .awards-mobile {
  display: none;
}
.sc-pr .awards-mobile .awards-mobile-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 0.5px solid #1d1d1d;
}

.curved {
  position: relative;
  width: 100%;
  height: 32px;
  margin-top: -2px;
  border-bottom-left-radius: 1.1vw;
  border-bottom-right-radius: 1.1vw;
  background-color: #f8f8f8;
  z-index: 2;
}

.sc-talk {
  position: relative;
  padding: 162px 0 38px;
  margin-top: -32px;
  color: #f4f4f4;
  text-align: center;
  background: #1d1d1d;
}
.sc-talk .round {
  display: inline-block;
  padding: 9px 22px 8px;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  font-family: "Khand", sans-serif;
  text-transform: uppercase;
}
.sc-talk .round::before {
  content: "";
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #f8f8f8;
  border-radius: 100%;
}
.sc-talk .link-talk {
  display: inline-block;
  height: 100%;
  margin-bottom: 241px;
}
.sc-talk .link-talk h2 {
  display: inline-block;
  margin-top: 26px;
  margin-right: 13px;
  font-size: 93px;
  line-height: 0.8;
  text-transform: uppercase;
}

.footer-line {
  display: none;
  width: 100vw;
  height: 0.5px;
  margin: 85px 0;
  background-color: #f8f8f8;
}

@media all and (max-width: 1200px) {
  .sc-about .about-small-text {
    gap: 50px;
  }
}
@media all and (max-width: 1110px) {
  .sc-about .about-text {
    display: block;
  }
  .sc-about .about-text h2 {
    margin-bottom: 20px;
  }
  .sc-about .about-text p {
    max-width: 100%;
  }
  .sc-about .selfie {
    top: 40px;
  }
  .sc-pr .text-area {
    display: block;
  }
  .sc-pr .text-area h2 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .sc-pr .text-area p {
    max-width: 100%;
  }
  .sc-pr .clients-wrap {
    float: none;
    max-width: 100%;
  }
  .sc-pr .pr-detail {
    display: block;
  }
  .sc-pr .pr-detail .left-box {
    width: auto;
    margin-bottom: 30px;
  }
  .sc-pr .pr-detail .right-box {
    display: block;
  }
  .sc-pr .pr-detail .right-box .content-box {
    max-width: 100%;
  }
  .sc-pr .pr-detail.approach-area .right-box .content-box {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .sc-pr .pr-detail.approach-area .right-box .content-box em {
    width: 30%;
  }
  .sc-pr .pr-detail.approach-area .right-box .content-box p {
    flex: 1;
  }
}
@media all and (max-width: 960px) {
  .sc-intro .large-inner {
    flex-flow: row;
  }
  .sc-intro .mypage-area {
    display: none;
  }
  .sc-intro .coords {
    position: static;
    transform: none;
  }
  .sc-about {
    padding: 0;
  }
  .sc-about .mobile-inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .sc-about .text-wrap {
    width: 100%;
  }
  .sc-about .text-wrap:last-child {
    margin-bottom: 32px;
  }
  .sc-about .about-text {
    margin-top: 10vw;
    margin-right: 0;
  }
  .sc-about .about-text h2 {
    display: none;
  }
  .sc-about .about-text p {
    font-size: 5.9vw;
  }
  .sc-about .about-small-text {
    flex-direction: column;
    gap: 32px;
  }
  .sc-about .about-small-text .text-wrap {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    padding-top: 16px;
    border-top: 0.75px solid #1d1d1d;
  }
  .sc-about .about-small-text .text-wrap h3 {
    flex-basis: 55%;
    font-size: 1.3em;
    line-height: 1;
  }
  .sc-about .about-small-text .text-wrap p {
    flex-basis: 100%;
    font-size: 1em;
  }
  .sc-about .selfie {
    position: relative;
    top: 0;
    width: 100vw;
    height: auto;
    border-radius: 0%;
  }
  .sc-about .selfie img {
    transform: none;
  }
  .sc-about .btn {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .sc-work {
    padding: 0 26px;
  }
  .sc-work .work-area {
    display: block;
    height: 100%;
  }
  .sc-work .work-item {
    position: -webkit-sticky;
    position: sticky;
    top: 1vh;
    flex-direction: column;
    padding-top: 60px;
    margin: 0;
    color: #1d1d1d;
  }
  .sc-work .work-item.NS, .sc-work .work-item.TK, .sc-work .work-item.BaO, .sc-work .work-item.BE, .sc-work .work-item.AMS {
    background-image: none;
  }
  .sc-work .dimmed {
    display: none;
  }
  .sc-work .large-inner {
    position: relative;
    background: #EDEDED;
    padding: 18px 12px 12px;
    border: 1px solid #d4d4d4;
    border-radius: 25px;
  }
  .sc-work .title-area {
    display: flex;
    margin-bottom: 20px;
  }
  .sc-work .index {
    width: 50%;
  }
  .sc-work .work-title {
    min-height: 83px;
    margin: 0;
  }
  .sc-work .mobile-image {
    display: block;
  }
  .sc-work .detail-area {
    flex-direction: column;
  }
  .sc-work .desc-area {
    flex-wrap: wrap;
  }
  .sc-work .design-area {
    justify-content: space-between;
    margin-top: 24px;
  }
  .sc-work .text-box {
    margin-bottom: 24px;
  }
  .sc-work .text-box + .text-box {
    margin: 0;
  }
  .sc-work .detail-title {
    margin-bottom: 24px;
  }
  .sc-work .round {
    padding: 0 20px 2.5px;
    border-color: #1d1d1d;
  }
  .sc-work .round + .round {
    margin: 0;
  }
  .sc-playing .playing-area.pc-ver {
    display: none;
  }
  .sc-playing .playing-area.mobile-ver {
    display: block;
  }
  .sc-playing .playing-item img {
    position: static;
  }
  .sc-pr .pr-detail {
    padding-top: 20px;
  }
  .sc-pr .pr-detail .right-box {
    padding-right: 0;
  }
  .sc-pr .pr-detail.approach-area .content-box {
    gap: 16px;
  }
  .sc-pr .pr-detail.experience-area .right-box p {
    font-size: 12px;
  }
  .sc-pr .not-awards-mobile {
    display: none;
  }
  .sc-pr .awards-mobile {
    display: block;
  }
  .sc-talk {
    padding: 300px 0;
  }
  .sc-talk .link-talk {
    margin-bottom: 0;
  }
  .sc-talk .footer-line {
    display: block;
  }
}