

/*
    @세팅구역
*/
body {
    // min-width: ?세팅하시고
    position: relative;
    font-family: "Neuemontreal", sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .03vw;
    color: #1d1d1d;
    background: #f8f8f8;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
.cursor {
    position: fixed;
    top: -1%; left: -1.2%; 
    width: 13px; height: 13px;
    border: 1px #1d1d1d;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.01);
    backdrop-filter: invert(100%);
    transform: none;
    transition: width .3s, height .3s;
    pointer-events: none;
    z-index: 100;
    span{
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        font-size: 12px;
        white-space: nowrap;
        &.hide {
            display: none;
        }
    }
    &.cursor-work {
        top: -11%; left: -5.5%;
        transform: translate(-50%, -50%);
        width: 144px; height: 144px;
        background: #f8f8f8;
    }
    &.cursor-talk {
        top: -11%; left: -5.5%;
        transform: translate(-50%, -50%);
        width: 144px; height: 144px;
        background-color: hsla(0,0%,100%,.01);
    }
}
.large-inner{
    width: 100%;
    padding: 0 38px;
}

.small-inner {
    width: 100%;
    padding: 0 64px;
}

.clear {
    clear: both;
    overflow: hidden;
}

section {
    position: relative;
    padding: 64px 0;
}

.btn {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    font-family: 'Khand', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .06vw;
    line-height: 1;
    color: #f4f4f4;
    overflow: hidden;
    .btn-wrap {
        position: relative;
        padding: 10px 32px 9px;
        border: 1px solid #f4f4f4;
        border-radius: 15px;
        z-index: 1;
        .text-box {
            height: 11px;
            text-transform: uppercase;
            overflow: hidden;
            .text {
                display: inline-block;
                height: 100%;
                transition: .4s ease-in-out;
                &::after {
                    display: block;
                    margin-top: 13px;
                    color: #1d1d1d;
                }
                
            }
            .arrow {
                display: inline-block;
                width: 9px; height: 11px;
                margin-left: 10px;
                background: url('../images/arrow_white.svg') no-repeat;
                transform: translateY(-200%);
                transition: .4s ease-in-out;
                &::after {
                    content: '';
                    display: block;
                    width: 9px; height: 11px;
                    margin-top: -22px;
                    background: url('../images/arrow_white.svg') no-repeat;
                    filter: invert(100%);
                }
            }
        }
    }
    .btn-bg {
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 0; height: 100%;
        border-radius: 15px;
        background-color: #f8f8f8;
        transition: .4s ease-in-out;
    }
    &.hover {
        .btn-wrap {
            .text {
                transform: translateY(-220%);
            }
            .arrow {
                transform: translateY(0);
            }
        }
        .btn-bg {
            width: 100%;
        }
    }
}

.line {
    display: block;
    width: 100%; height: 1px;
    background: #1d1d1d80;
    box-sizing: border-box;
}

@media all and (max-width:830px) {
    .large-inner {
        padding: 0 13px;
    }
    .small-inner {
        padding: 0 4vw;
    }
    .btn {
        .btn-wrap {
            padding: 10px 30px;
        }
    }
    section {
        padding-top: 3.5rem;
        padding-bottom: 0;
    }
}