.footer {
    position: absolute;
    bottom: 38px;
    width: 100%;
    text-transform: uppercase;
    color: #f4f4f4;
    .large-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
            display: block;
            font-size: 0.833rem;
            line-height: 1;
        }
        .link-footer {
            &+.link-footer {
                margin-left: 16px;
            }
        }
        .btn-top {
            text-transform: uppercase;
            color: #f4f4f4;
        }
        .mobile-inner {
            display: flex;
            justify-content: space-between;
            width: 100%; 
        }
    }
    .reverse {
        display: flex;
        gap: 100px;
    }
}

@media all and (max-width:960px) {
    .footer {
        .large-inner {
            display: block;
            text-align: center;
            .content-box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                span {
                    width: 45%;
                    text-align: right;
                }
                a {
                    text-align: left;
                }
                &.social-box {
                    display: flex;
                    flex-direction: column;
                    bottom: -30vw;
                    margin-top: 84px;
                    span {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .btn-top {
                display: none;
            }
        }
        .reverse {
            display: flex;
            gap: 0;
            flex-direction: column-reverse;
        }
    }
}