.header {
    position: absolute;
    top: 38px;
    width: 100%;
    color: #f4f4f4;
    z-index: 1;
    .large-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img { 
            height: 13px;
        }
        .small-text {
            font-size: 11px;
            line-height: 1.2;
        }
        .text {
            &::after {
                content: "Let's talk";
            }
        }
    }
}