.header {
    position: absolute;
    top: 3.167rem;
    width: 100%;
    color: #f4f4f4;
    z-index: 1;
    .large-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            a {
                display: inline-block;
            }
            img { 
                height: 13px;
            }
        }
        .smalltext-box {
            display: flex;
            width: 75%;
            justify-content: space-between;
        }
        .small-text {
            font-size: .688rem;
            line-height: 1.2;
            white-space: pre-line;
        }
        .text {
            &::after {
                content: "Let's talk";
            }
        }
    }
}

@media all and (max-width:960px) {
    .header .large-inner {
        align-items: flex-start;
        .smalltext-box {
            display: inline-block;
            width: auto;
            .small-text {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
}