.sc-intro {
    position: relative;
    height: 100vh;
    padding: 38px 0 26px;
    color: #f4f4f4;
    background: #1d1d1d;
    .large-inner {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        height: 100%;
    }
    .intro-main {
        flex-basis: 43%;
        h2 {
            font-family: 'Khand', sans-serif;
            max-width: 307px;
            margin-bottom: 16px;
            font-size: 45px;
            line-height: .95;
        }
        h3 {
            max-width: 300px;
            font-family: "Neuemontreal", sans-serif;
            margin-bottom: 40px;
            font-size: 15px;
            line-height: 1.2;
        }
        .btn {
            .text {
                &::after {
                    content: "Scroll to discover";
                }
            }
        }
    }
    .intro-sub {
        position: absolute;
        bottom: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 38px;
        font-size: 13px;
        .link-page {
            line-height: 1.1;
            &+.link-page {
                margin-left: 25px;
            }
        }
        .coords {
            position: absolute;
            top: 50%; left: 57%;
            line-height: 1.15;
            transform: translateY(-50%);
        }
    }
}

.sc-about {
    .large-inner {
        position: relative;
        .text-wrap {
            width: 71%;
            .about-text {
                display: flex;
                justify-content: space-between;
                margin-right: 75px;
                padding-bottom: 90px;
                p {
                    flex: .64;
                    max-width: 486px;
                    font-size: 31px;
                    line-height: 1.1;
                }
            }
            .about-small-text {
                display: flex;
                justify-content: space-between;
                .text-wrap {
                    width: 237px;
                    h3 {
                        font-size: 17px;
                        margin-bottom: 24px;
                    }
                    p {
                        line-height: 1.2;
                    }
                }
            }
        }
        .selfie {
            position: absolute;
            top: 0; right: 150px;
            width: 220px; height: 220px;
            border-radius: 100%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                transform: translateY(-9%);
            }
        }
        .btn {
            display: inline-block;
            position: absolute;
            bottom: 0; right: 39px;
            color: #1d1d1d;
            .btn-wrap {
                border: 1px solid #1d1d1d;
                .text {
                    &::after {
                        content: "explore my work";
                        color: #f4f4f4;
                    }
                }
                .arrow {
                    filter: invert(100%);
                }
            }
            .btn-bg {
                background-color: #1d1d1d;
            }
        }
    }   
}

.sc-work {
    .work-area {
        display: flex;
        height: 100vh;
        .work-item {
            /* padding값 수정, 백그라운드 이미지 수정*/
            position: relative;
            display: block;
            width: 100%; min-width: 92%;
            height: 95%; min-height: 100%;
            margin-left: 13px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #f8f8f8;
            .dimmed {
                position: absolute;
                top: 50%; left: 0;
                width: 100%; height: 50%;
                background: linear-gradient(0deg,rgba(0,0,0,.94),transparent);
            }
            .large-inner {
                position: absolute;
                bottom: 15px;
                z-index: 1;
                .work-title {
                    margin: 13px 0 48px;
                    font-size: 56px;
                    line-height: 1;
                }
                .detail-area {
                    display: flex;
                    justify-content: space-between;
                    .desc-area {
                        display: flex;
                        .text-box {
                            .detail-title {
                                margin-bottom: 24px;
                            }
                            span {
                                display: block;
                                max-width: 128px;
                                line-height: 1.3;
                            }
                            &+.text-box {
                                margin-left: 80px;
                            }
                        }
                    }
                    .design-area {
                        display: flex;
                        align-items: end;
                        font-family: 'Khand', sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        .round {
                            padding: 8px 33px;
                            border: 1px solid #f8f8f8;
                            border-radius: 25px;
                            text-align: center;
                            line-height: 1;
                            &+.round {
                                margin-left: 13px;
                            }
                        }
                    }
                }
                .mobile-image {
                    display: none;
                    width: 100%;
                    padding-top: 1rem;
                    img {
                        width: 100%;
                        border-radius: 3vw;
                    }
                }
            }
            &.NS {
                background-image: url(../images/work_NS.jpg);
            }
            &.TK { 
               background-image: url(../images/work_TK.jpg);
            }
            &.BaO {
                background-image: url(../images/work_BaO.jpg);
            }
            &.BE {
                background-image: url(../images/work_BE.jpg);
            }
            &.AMS {
                background-image: url(../images/work_AMS.jpg);
            }
        }
    }
}

.sc-playing {
    text-align: center;
    padding-bottom: 64px;
    z-index: 3;
    h2 {
        margin-bottom: 16px;
        font-family: 'Khand', sans-serif;
        font-size: 44px;
        line-height: 1;
    }
    .desc {
        max-width: 400px;
        margin: 0 auto;
        line-height: 1.3;
    }
    .small-inner {
        text-align: start;
        .playing-area {
            margin-top: 96px;
            border-left: 0; border-right: 0;
            &.pc-ver{
                display: block;
                .playing-item {
                    position: relative;
                    h3 {
                        padding: 15px 0;
                        transition: .3s ease-out;
                    }
                    img {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translateY(-50%);
                        width: 50%; max-width: 540px;
                        object-fit: cover;
                        object-position: center;
                        pointer-events: none;
                        transition: opacity .3s ease-out;
                        opacity: 0;
                        z-index: 2;
                    }
                    &:hover {
                        h3 {
                            opacity: .6;
                            transform: translateX(16px);
                        }
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
            &.mobile-ver {
                display: none;
                .playing-item {
                    height: 48px;
                    overflow: hidden;
                }
                .mobile-inner {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.2em 0;
                }
                img {
                    width: 100%;
                }
                .btn-playing-item {
                    position: relative;
                    width: 16px; height: 16px;
                    .vertical-line {
                        position: absolute;
                        top: 0; left: 50%;
                        transform: translateX(-50%);
                        width: .75px; height: 16px;
                        background: #1d1d1d;
                    }
                    .horizon-line {
                        position: absolute;
                        top: 50%; left: 0;
                        transform: translateY(-50%);
                        width: 16px; height: .75px;
                        background: #1d1d1d;
                    }
                }
            }
        }
    }
}

.sc-pr {
    padding-bottom: 32px;
    background-color: #f8f8f8;
    z-index: 2;
    .clear {
        padding-bottom: 51px;
        border-bottom: 1px solid #1d1d1d80;
    }
    .img-wrap {
        position: relative;
        width: 100%; height: 100vh;
        padding-bottom: 64px;
        overflow: hidden;
        box-sizing: content-box;
        img {
            width: 100%; height: 100%;
            object-fit: cover;
        }
        .img-cover {
            position: absolute;
            bottom: 0;
            width: 100%; height: 0;
            background: #f8f8f8;
        }
    }
    .text-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        h2 {
            max-width: 486px;
            font-size: 34px;
            line-height: 1.1;
        }
        p {
            max-width: 478px;
            font-size: 22px;
            line-height: 1.2;
        }
    }
    .clients-area {
        float: right;
        max-width: 478px;
        h3 {
            margin-bottom: 30px;
            font-family: 'Khand', sans-serif;
            font-size: 20px;
            line-height: 1.4;
            text-decoration: underline;
        }
        .clients-wrap {
            display: flex;
            flex-wrap: wrap;
            .clients-title {
                flex: 1 1 33%;
                margin-bottom: 26px;
                font-size: 16px;
                &:nth-child(n+7) {
                    margin: 0;
                }
            }
        }
    }
    .pr-detail {
        display: flex;
        padding: 51px 0;
        .left-box {
            flex: 1 1 37%;
            .round {
                display: inline-block;
                padding: 3px 11px 2px;
                border: .7px solid #1d1d1d;
                border-radius: 12px;
                font-family: 'Khand', sans-serif;
                font-size: 12px;
            }
        }
        .right-box {
            display: flex;
            flex: 63%;
            justify-content: space-between;
            padding-right: 50px;
            [class^='row'] {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 38px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &.approach-area {
            .content-box {
                max-width: 192px;
                em {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 16px;
                }
                p {
                    font-size: 12px;
                    line-height: 1.2;
                    letter-spacing: .02vw;
                }
            }
        }
        &.experience-area {
            .right-box {
                flex-direction: column;
                .content-box {
                    width: 30%;
                    em {
                        display: block;
                        font-size: 17px;
                        margin-bottom: 16px;
                        line-height: 1;
                    }
                    p {
                        font-size: 16px;
                        line-height: 1.4;
                        margin-bottom: 6px;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
        &.awards-area {
            padding-bottom: 0;
            .right-box {
                flex-direction: column;
                .content-box {
                    width: 30%;
                    font-size: 15px;
                    white-space: nowrap;
                }
            }
        }
    }
    .not-awards-mobile {
        flex: 63%;
        display: block;
    }
    .awards-mobile {
        display: none;
        .awards-mobile-item {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 0.5px solid #1d1d1d;
        }
    }
}
.curved {
    position: relative;
    width: 100%; height: 32px;
    margin-top: -2px;
    border-bottom-left-radius: 1.1vw;
    border-bottom-right-radius: 1.1vw;
    background-color: #f8f8f8;
    z-index: 2;
}
.sc-talk {
    position: relative;
    padding: 162px 0 38px;
    margin-top: -32px;
    color: #f4f4f4;
    text-align: center;
    background: #1d1d1d;
    .round {
        display: inline-block;
        padding: 9px 22px 8px;
        border: 1px solid #f4f4f4;
        border-radius: 20px;
        font-family: 'Khand', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            top: 96px; left: 50%;
            transform: translateX(-50%);
            width: 10px; height: 10px;
            background: #f8f8f8;
            border-radius: 100%;
        }
    }
    .link-talk {
        display: inline-block;
        height: 100%;
        margin-bottom: 241px;
        h2 {
            display: inline-block;
            margin-top: 26px;   
            margin-right: 13px;
            font-size: 93px;
            line-height: .8;
            text-transform: uppercase;
        }
    }
}
.footer-line {
    display: none;
    width: 100vw; height: .5px;
    margin-top: 12vmax; margin-bottom: 12vmax;
    background-color: #f8f8f8;
}

@media all and (max-width:1200px) {
    .sc-intro {
        .intro-main {
            padding-right: 11.5vw;
        }
    }
    .sc-about {
        .large-inner {
            .text-wrap {
                .about-small-text {
                    gap: 5vw;
                }
            }
        }
    }
    .sc-pr {
        .pr-detail {
            .right-box {
                flex: 90%;
            }
        }
        .not-awards-mobile {flex: 90%}
    }
} 
@media all and (max-width:1110px) {
    .sc-intro {
        .intro-main {
            padding-right: 4vw;
        }
    }
    .sc-about {
        .large-inner {
            .text-wrap {
                .about-text {
                    display: block;
                    h2 {
                        margin-bottom: 20px;
                    }
                    p {
                        max-width: 100%;
                    }
                }  
            }
            .selfie {
                top: 40px; right: 50px;
            }
        }
    } 
    .sc-pr {
        .text-area {
            display: block;
            h2 {
                max-width: 100%;
                margin-bottom: 20px;
            }
            p {
                max-width: 100%;
            }
        }
        .clients-area {
            float: none;
            max-width: 100%;
            p {
                letter-spacing: .55vw;
            }
        }
        .small-inner {
            .pr-detail {
                display: block;
                .left-box {
                    margin-bottom: 30px;
                }
                .right-box {
                    display: block;
                    .content-box {
                        max-width: 100%;
                    }
                }
                &.approach-area {
                    .right-box {
                        .content-box {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            em {
                                flex-basis: 30%;
                            }
                            p {
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:830px) {
    .sc-intro {
        .large-inner {
            flex-flow: unset;
        }
        .intro-main {
            padding-right: 0;
            h2 {
                font-size: 6vw;
            }
            p {
                font-size: 3vw;
            }
            button {
                display: none;
            }
        }
        .mypage-area {
            display: none;
        }
        .intro-sub {
            .coords {
                position: unset;
                transform: none;
            }
        }
    }
    .sc-about {
        padding: 0;
        .mobile-inner {
            display: flex;
            flex-direction: column-reverse;
            .text-wrap {
                width: 100%;
                .about-text {
                    margin-top: 10vw;
                    margin-right: 0;
                    h2 {
                        display: none;
                    }
                    p {
                        font-size: 5.9vw;
                    }
                }
                .about-small-text {
                    flex-direction: column;
                    gap: 32px;
                    .text-wrap {
                        display: flex;
                        justify-content: space-between;
                        gap: 16px;
                        width: 100%;
                        padding-top: 16px;
                        border-top: 0.75px solid #1d1d1d;
                        h3 {
                            flex-basis: 55%;
                            font-size: 1.3em;
                            line-height: 1;
                        }
                        p {
                            flex-basis: 100%;
                            font-size: 1em;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 32px;
                }
            }
            .selfie {
                position: unset;
                width: 100vw; height: auto;
                margin-left: -13px;
                border-radius: 0%;
                img {
                    transform: none;
                }
            }
        }
        .large-inner {
            .btn {
                position: relative;
                right: 0;
                width: 100%;
            }
        }
    }
    .sc-work {
        padding: 0 4vw;
        .work-area {
            display: block;
            height: 100%;
            .work-item {
                position: sticky;
                top: 1vh;
                flex-direction: column;
                padding-top: 5em;
                margin: 0;
                color: #1d1d1d;
                .dimmed {
                    display: none;
                }
                &.NS, &.TK, &.BaO, &.BE, &.AMS{
                    background-image: none;
                }
                .large-inner {
                    position: relative;
                    background: #EDEDED;
                    padding: 1.5rem 1rem 1rem;
                    border: 1px solid #d4d4d4;
                    border-radius: 4vw;
                    .title-area {
                        display: flex;
                        margin-bottom: 20px;
                    }
                    .index {
                        width: 50%;
                    }
                    .work-title {
                        margin: 0;
                        font-size: 6vw;
                    }
                    .mobile-image {
                        display: block;
                    }
                    .detail-area {
                        flex-direction: column;
                        .desc-area {
                            flex-wrap: wrap;
                            .text-box {
                                flex: 50%;
                                margin-bottom: 24px;
                                &+.text-box {
                                    margin: 0;
                                }
                                .detail-title {
                                    margin-bottom: 0.3rem;
                                }
                            }
                        }
                        .design-area {
                            justify-content: space-between;
                            margin-top: 2rem;
                            .round {
                                padding: 0.25em 2em;
                                border-color: #1d1d1d;
                                font-size: 10px;
                                &+.round {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sc-playing {
        .small-inner {
            .playing-area {
                &.pc-ver {
                    display: none;
                }
                &.mobile-ver {
                    display: block;
                }
                .playing-item {
                    img {
                        position: unset;
                    }
                }
            }
        }
    }
    .sc-pr {
        .text-area {
            h2 {
                font-size: 6vw;
            }
            p {
                font-size: 4vw;
            }
        }
        .clients-area {
            p {
                font-size: 3.8vw;
                letter-spacing: .2vw;
            }
            .clients-wrap {
                .clients-title {
                    font-size: 13px;
                }
            }
        }
        .pr-detail {
            padding-top: 20px;
            .right-box {
                padding-right: 0;
            }
            &.approach-area {
                .content-box {
                    gap: 16px;
                    em {
                        font-size: 14px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
            &.experience-area {
                .right-box {
                    .content-box {
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        
        .not-awards-mobile {
            display: none;
        }
        .awards-mobile {
            display: block;
        }
    }
    .sc-talk {
        padding: 60vw 0;
        .link-talk {
            margin-bottom: 0;
            h2 {
                font-size: 13.3vw;
                margin-right: 1vw;
            }
            img {
                width: 5vw;
            }
        }
        .footer-line {
            display: block;
        }
    }
}